@use '../styles/variables.scss' as *;

.centerDiv { 
  width: 100vw; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fullCenter {
  @extend .centerDiv;
  height: 100vh;
}





